[submodule "HElib"]
	path = HElib
	url = https://github.com/shaih/HElib
[submodule "FV-NFLlib"]
	path = FV-NFLlib
	url = https://github.com/CryptoExperts/FV-NFLlib
[submodule "HElib-MP"]
	path = HElib-MP
	url = https://github.com/tricosset/HElib-MP
